button {
    margin-top: 75px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    border-radius: 100px;
}

#rock {
    background-image: url("images/rock1.png")
}

#paper {
    background-image: url("images/paper1.png")
}

#scissors {
    background-image: url("images/scissors1.png")
}

#result1,
#result2 {
    font-family: 'Faster One';
    font-size: 50px;
    text-align: center;
    color: white;
}

#result2 {
    font-size: 100px;
}

#main {
    margin: auto;
    width: 50%;
    margin-top: 75px;
}

body {
    background-color: teal;
}

#score-board1 {
    float: left;
    text-align: center;
    color: white;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#score-board2 {
    float: right;
    text-align: center;
    color: white;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#scorediv1,
#scorediv2 {
    font-size: 50px;
    font-family: 'Faster One';
}